[run]
source = src
omit = src/tests/**
       src/ui/**
       src/static/**
       src/app.py
       exclude_lines =
    if __name__ == .__main__.:

[report]
source = src
omit = src/tests/**
       src/ui/**
       src/static/**
       src/app.py
       exclude_lines =
    if __name__ == .__main__.: